/*Top menu*/
header {
  background-color: black;
  color: white;
  font-family: 'Playfair Display', serif;
  height: auto;
  line-height: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2
}

/* Marcello Galvan */
h1 {
  font-size: 40px;
  letter-spacing: 5px;
  float: left;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 14px;
}
/*Navigation*/
nav li {
  font-size: 20px;
  display: inline;
  margin-right: 40px;
}

nav {
  float: right;
}

nav ul {
  margin-top: 18px;
}

header nav li:nth-child(4),
footer li:nth-child(5) {
	list-style: none;
}

header nav a, a:visited {
  color: white;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}
/*Middle*/
main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  position: absolute;
  width: 60%;
  height: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

body {
  margin: 0px 0px 0px 0px;
  color: rgb(214,214,214);
  font-family: Arial;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/******CLASSES******/
.centerUI {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.profile {
  width: 400px;
  border-radius: 100%;
  float: left;
}
.offset {
  line-height: 25px;
  margin-left: 450px;
  padding-top: 25px;
}

.videos {
  margin-top: 90px;
  margin-bottom: 40px;
}

.vidwrap {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-bottom: 40px;
}

.vidwrap iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border: none;
}

/*bottom portion*/
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  height: 100px;
  background-color: black;
}
/*Social media links*/
footer li {
  float: right;
  margin-left: 40px;
  margin-top: 20px;
}

footer a, a:visited {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h2 {
  margin:0;
}

#contact {
  float: left;
  margin-top:6px;
}

@media screen and (max-width: 1279px) {

  #container {
    width: 1;
    min-width: 506px;
  }

  header h1 {
    text-align: center;
    margin-top: 20px;
    float: none;
  }

  header nav li:nth-child(4),
  footer li:nth-child(5) {
  	list-style: none;
  }

  .centerUI {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    float: none;
  }

  nav ul {
    text-align: center;
    width: auto;
  }

  nav li {
    display: inline;
    margin-right: 40px;
  }

  main {
    width: 80%;
    margin-top: 180px;
    margin-bottom: 1000px;
  }

  .profile {
    display: block;
    margin: 0 auto 0 auto;
    width: 50%;
    border-radius: 100%;
    float: none;
  }

  .offset {
    font-size: 24px;
    line-height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .offset h2 {
    text-align: center;
  }

  .videos {
    margin-top: 250px;
  }

  footer {
    height: 180px;
    position: fixed;
    font-size: 30px;
  }
}
