/*Top menu*/
header {
  background-color: black;
  color: white;
  font-family: 'Playfair Display', serif;
  height: auto;
  line-height: 30px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/*Centers UI elements*/
.centerUI {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
/* Marcello Galvan */
h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 5px;
  float: left;
  text-transform: uppercase;
}
/*Navigation*/
nav li {
  font-size: 18px;
  float: right;
  margin-right: 40px;
}

header nav li:nth-child(4) {
	list-style: none;
}

header nav a, a:visited {
  color: white;
}

/*Middle*/
main {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

body {
  /*Makes it so header and footer
    touches edge of window*/
  margin: 0px 0px 0px 0px;
  /*text color light gray*/
  color: rgb(214,214,214);
  font-family: Arial;
  background-color: black;
}

@media screen and (max-width: 1174px) {

  header nav li:nth-child(4) {
  	list-style: none;
  }

  header {
    height: auto;
  }

  header h1 {
    font-size: 80px;
    text-align: center;
    line-height: 90px;
  }

  .centerUI {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    margin:0;
    padding:0;
    text-align: center;
  }

  nav li {
    display: inline;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-right: 110px;
    font-size: 35px;
    float: right;
  }

  footer {
    height: 180px;
    position: fixed;
    font-size: 30px;
  }

  .photos {
    margin-top: 200px;
  }

}

/*---------- Photos ---------*/

.gallery {
  width: 100%;
}
