/*Top menu*/
header {
  background-color: black;
  color: white;
  font-family: 'Playfair Display', serif;
  height: auto;
  line-height: 30px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

header a {
  text-decoration: none;
  background-color: rgba(50,20,20,.9);
}

header a:hover {
  text-decoration: underline;
}

/*Centers UI elements*/
.centerUI {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/* Marcello Galvan */
h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 5px;
  float: left;
  text-transform: uppercase;
}
/*Navigation*/
nav li {
  font-size: 18px;
  float: right;
  margin-left: 40px;
  display: inline;
}

ul {
  list-style: none;
}

header nav a, a:visited {
  color: white;
}
/*Middle*/
main {
  margin: auto;
  position: absolute;
  width: 70%;
  height: 490px;
  top: 0; left: 0; bottom: 0; right: 0;
}

body {
  /*Makes it so header and footer
    touches edge of window*/
  margin: 0px 0px 0px 0px;
  /*text color light gray*/
  color: rgb(214,214,214);
  font-family: Arial;
  /*background image with tint*/
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url("../img/bg.jpg");
}

/*Main*/
.profile {
  width: 400px;
  border-radius: 100%;
  float: left;
}

#offset {
  margin-left: 450px;
  padding-top: 50px;
}

/*bottom portion*/
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  height: auto;
  background-color: rgb(0, 0, 0);
}
/*Social media links*/
footer li {
  float: right;
  margin-left: 40px;
  display: inline;
}

footer a, a:visited {
  color: white;
}

#contact {
  float: left;
}
