body {
	font-family: "Arial";
}

hr {
	width: 60%;
	border: 1;
}

h1 {
	font-size: 35px;
	text-align: center;
}

address {
	text-align: center;
}

a:hover,
a:focus {
	color: red;
}

li a:hover,
a:focus,
a:visited{
	color: gray;
}
.centertext {
	text-align: center;
}